

.playerP{
  position: absolute;
  top: 140px;
  font-size: 25px;
  font-family: lucida console;
}

body{
  background-color: #ebefea;
}
h1{
  position: absolute;
  right: 600px;
  font-size: 30px;
  top: 15px;
  font-family: lucida console;
  background-color: #fcdd8f;
  padding: 22px;
  border-radius: 20px;
}
nav{
  background-color: #e2b544;
  padding: 50px;
  width: 95%;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 570px;
  border-bottom: solid 7px;
  border-color: black;
}

.login{
  position: absolute;
  right: 75px;
  top:10px;
  font-size: 20px;
}
#log{
  font-size: 15px;
  border-radius: 8px;
  float: below;
  position: absolute;
  top: 100px;
  background-color: White;
}
#log:hover{
  background-color: #40cc39;
  cursor: pointer;

}

.submitBut{
  height: 20px;
  left: 155px;
  top:0px;
  position: absolute;


}
.homesearch{
  position: absolute;
  left: 150px;
  top: 170px;
  height: 30px;


}

.signUpButton{
color: black !important;
text-transform: uppercase;
background: #e06902;
padding: 15px;
border-radius: 30px;
display: inline-block;
border: none;
}
.signupB:hover{
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 0px 10px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 0px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;

}
li:hover{
  background-color: #e2b5b3;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
padding: 5px;
width: px;
cursor: pointer;
}
.news{
  position: absolute;
  right: 300px;
  top: 140px;
  font-size: 25px;
  font-style: lucida console;

}
.newsBox{
  border: solid 1px;
  border-color: black;
  position: absolute;
  width: 500px;
  height: 500px;
  right: 100px;
  top: 175px;
  background-color: white;
  font-size: 30px;
  border-radius: 4px;
}
.newsBoxPic{
  position: absolute;
  height:250px;
  right: 50px;
  bottom: 100px;
}


.center{
  position: absolute;
   height:250px;
   top:160px;
  right: 680px;
  margin-left: auto;
  margin-right: auto;
  display: block;

}
