
.list1 {
list-style-type: none;
border: black 1px;
border-style: solid;
border-spacing: 5px;
width: 40%;
text-align: left;
position: absolute;
font-size: 20px;
top: 180px;
}
.playerP{
  position: absolute;
  top: 140px;
  font-size: 25px;
}
.statsP{
  position: absolute;
  top: 143px;
  right: 590px;
  font-size: 25px;
}
body{
  background-color: #ebefea;
}
h1{
  position: absolute;
  right: 600px;
  font-size: 30px;
  font-family: verdana;
}

.login{
  position: absolute;
  right: 75px;
  top:10px;
  font-size: 20px;
}
#log{
  font-size: 15px;
  border-radius: 8px;
  float: below;
  position: absolute;
  top: 100px;
  background-color: White;
}
#log:hover{
  background-color: #40cc39;
  background: url(cd ./img/jordan.png) no-repeat;

}
.list2{
  list-style-type: none;
  border-color: black;
  border-style: solid;
  position: absolute;
  float: left;
  right: 20px;
  width: 40%;
  font-size: 20px;
font-weight: none;
border-width: 1px;
top: 180px;

}
.submitBut{
  height: 20px;
  left: 155px;
  top:0px;
  position: absolute;


}
.homesearch{
  position: absolute;
  left: 150px;
  top: 170px;
  height: 30px;


}
img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.signUpButton{
color: black !important;
text-transform: uppercase;
background: #e06902;
padding: 15px;
border-radius: 30px;
display: inline-block;
border: none;
}
.signupB:hover{
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 0px 10px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 0px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
background: url(cd ../img/jordan.png);
}
li:hover{
  background-color: #e2b5b3;
}



.center{
  position: absolute;
   height:180px;
   top:110px;
  right: 680px;
  margin-left: auto;
  margin-right: auto;
  display: block;

}
