.playerB{
  color: black !important;
  text-transform: uppercase;
  background: #e01f1f;
  border-radius: 20px;
  display: inline-block;
  border: solid 2px;
  font-family: Verdana;
  position: absolute;
  top: 60px;
  padding: 12px;
  left: 100px;

}
.playerB:hover{
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 0px 10px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 0px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;

}
.addFav{
  color: black !important;
  text-transform: uppercase;
  background: #e01f1f;
  border-radius: 20px;
  display: inline-block;
  border: solid 2px;
  font-family: Verdana;
  position: absolute;
  top: 60px;
  padding: 12px;
  left: 250px;
}
.addFav:hover{
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 0px 10px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 0px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;

}
body{
  background-color: white;
}
h1
{
  position: absolute;
  right: 640px;
  font-size: 30px;
  top: 10px;

  color: black;
  font-family: Verdana;
  background-color: #e01f1f;
  padding: 22px;
  border: solid 3px;
  border-color: black;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: white;
  border-radius: 20px;
}
nav{
  background-color: #0a6ad6;
  padding: 50px;
  width: 95%;
  height: 8%;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 570px;
  border-bottom: solid 3px;
  border-color: black;
}


.loginA{
  color: black !important;
  text-transform: uppercase;
  background: #e01f1f;
  border-radius: 20px;
  display: inline-block;
  border:  solid 2px;
  right: 50px;
  top: 60px;
  padding: 12px;
  position: absolute;
  font-family: Verdana;
}
.login:hover{
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 0px 10px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 0px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;

}

.createB{
color: black !important;
text-transform: uppercase;
background: #e01f1f;
border-radius: 20px;
display: inline-block;
border: solid 2px;
position: absolute;
right: 180px;
top: 60px;
padding: 12px;
font-family: Verdana;
}
.createB:hover{
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 0px 10px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 0px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;

}
.favPlayer{
  position: absolute;
  left: 25px;
  top: 130px;
  font-size: 35px;
  font-family: Verdana;
  color: black;

}
.favBox{
  border: solid 1px;
  border-color: black;
  position: absolute;
  width: 20%;
  height: 317%;
  left: 20px;
  top: 175px;
  background-color: white;
  font-size: 30px;
  border-radius: 4px;
  text-align: center;
  font-family: Verdana;
}
.highlightHead{
  position: absolute;
  left: 480px;
  top: 130px;
  font-size: 35px;
  font-family: Verdana;
  color: black;

}
.highlightBox{
  position: absolute;
  width: 60%;
  height: 217%;
  left: 350px;
  top: 175px;
  background-color: white;
  font-size: 30px;
  border-radius: 4px;
  text-align: center;
  font-family: Verdana;
}
.highVid{
  width: 100%;
  height: 100%;
}


.news{
  position: absolute;
  right: 120px;
  top: 130px;
  font-size: 35px;
  font-family: Verdana;
  color: black;
  border-bottom: solid 2px;

}
.newsBox{

  position: absolute;
  width: 25%;
  height: 200%;
  right: 40px;
  top: 220px;
  border: solid 2px;
  border-color: #bac3d1;
}
.newsText{
  font-size: 22px;
  position: relative;

  list-style: none;

}
.newsTag{
  color: #ed6749;
}
.Playoffs{
  position: absolute;
  right: 700px;
  top: 700px;
  font-size: 35px;
  font-family: Verdana;
  color: black;
}
.playoffBox{
  position: absolute;
  width: 100%;
  height: 250%;
  right: 0px;
  top: 770px;
}
.playoffPic{
  width: 100%;
  height: 100%;
  top: 0px;
  right:0;
  position: absolute;
}
.kawPic{
  position: absolute;
  height:170%;
  width: 20%;
  left: 150px;
  top: 1200px;
  transition: transform .25s ease;

}
.kawPic:hover  {
  -webkit-transform-scale(1.5);
  transform:scale(1.5);
}
.kyriePic{
  position: absolute;
  height:160%;
  width: 15%;
  right: 150px;
  top: 1200px;
  transition: transform .25s ease;

}
.kyriePic:hover  {
  -webkit-transform-scale(1.5);
  transform:scale(1.5);
}
.greekPic{
  position: absolute;
  height:170%;
  width: 18%;
  left: 600px;
  top: 1200px;
  transition: transform .25s ease;
}
.greekPic:hover  {
  -webkit-transform-scale(1.5);
  transform:scale(1.5);
}
.benPic{
  position: absolute;
  height:200%;
  width: 30%;
  left: 230px;
  top: 800px;
  radius: 10px;
}
.wadePic{
  position: absolute;
  height:205%;
  width: 30%;
  left: 800px;
  top: 800px;
  radius: 10px;
}

.center{
  position: absolute;
   height:80%;
   top:7px;
  left: 20px;
}
