.clear {
  color: black !important;
  text-transform: uppercase;
  background: #d6d1cd;
  padding: 5px;
  border-radius: 30px;
  display: inline-block;
  border: none;
  font-size: 10px;
  position: absolute;
  top: 150px;
  left: 10px;
}
.clear:hover {
    color: red;
    background: #eff;
}
#submit{
  position: absolute;
  left: 70px;
  height: 10px;
  padding: 20px;
  top: 154px;
}

.text_field {
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

 
.label_input {
    font-size: 17px;
    font-family: 宋体;
 
    width: 150px;
    height: 28px;
    line-height: 28px;
    text-align: center;
 
    color: white;
    background-color: #000000;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

body {
    background-image: url(../img/signupbackgroup.jpg);;
    style=" background-repeat:no-repeat ;
    background-size:20%;
    background-attachment: fixed;"
}
#title{
	color: white;
}
.container{
	width: 500px;
    height: 360px;
    padding: 13px;
 
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
 
    background-color: #101328;
 
    border-radius: 10px;
    text-align: center;
}
form p > * {
    display: inline-block;
    vertical-align: middle;
}


