.clear {
  color: black !important;
  text-transform: uppercase;
  background: #d6d1cd;
  padding: 5px;
  border-radius: 30px;
  display: inline-block;
  border: none;
  font-size: 10px;
  position: absolute;
  top: 150px;
  left: 10px;
}
.clear:hover {
    color: red;
    background: #eff;
}
#submit{
  position: absolute;
  left: 50px;
}
